
  @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@0;1&family=Joti+One&family=Lora:ital@0;1&family=Pacifico&family=Pixelify+Sans&display=swap');

  /* font-family: 'Fira Sans', sans-serif;
  font-family: 'Joti One', cursive;
  font-family: 'Lora', serif;
  font-family: 'Pacifico', cursive;
  font-family: 'Pixelify Sans', cursive; */
  .grid-containermain{
    display: grid;
    grid-template-columns: auto auto;
}
.maingriditem{
    padding: 1.5rem;
    margin: 1.5rem;
}
.mainleft h1{
    font-family: 'Pixelify Sans', cursive;
    font-size: 2.2rem;
}
.mainleft span{
    font-family: 'Pacifico', cursive;
    font-size: 1.4rem;
}
.mainleft p{
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.2rem;
    margin: 0.6rem;
    margin-left: 0;
    padding: 0.6rem;
}

.maingriditem2{
    padding: 1.5rem;
    margin: 1.5rem;
  
}
.sectionheading{
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Lora', serif;
    text-decoration:underline;
}

.grid-containermain2{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}
.mainleft2{
    border: 1px solid rgb(56, 54, 138);
    padding: 1rem;
    background-color: rgb(1, 0, 80);
    border-radius: 5px;
    margin: 0.2rem;
    
}
.mainleft2 h2{
   margin: 0.5rem;
   padding: 0.5rem;
   background-color: transparent;
   border-bottom: 1px double white;
}
.mainleft2 p{
    background-color: transparent;
   margin: 0.5rem;
   padding: 0.5rem;
   
}

.imagesizemanage{
    height: 4.5rem;
}

.grid-containermain3{
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}

.mainleft3{
    border: 1px solid rgb(56, 54, 138);
    padding: 1rem;
    background-color: rgb(1, 0, 80);
    border-radius: 5px;
    margin: 0.2rem;
    
}
.mainleft3 p{
    background-color: transparent;
    margin: 0.5rem;
    padding: 0.5rem;
    
}
.mainleft3 img{
    border: 2px solid rgb(4, 4, 107);
    border-radius: 5px;
}
.maingriditem3{
    padding: 1rem;
    margin: 1rem;
  
}


/* contact form css */



.contactform{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem;
    margin-left: 14rem;
    margin-right: 14rem;
    padding: 1.5rem;
    border-radius: 10px;
 
    
    
}
.divformelement {
    border-radius: 5px;
    padding: 2rem;
    background-color: rgba(172, 190, 240, 0.204) ;
}
.formelement{
    
    width: 90%;
    padding: 0.8rem;
    margin: 0.8rem;
    border:0.5 solid rgb(100, 100, 245);
    background-color: rgb(213, 228, 241);
   font-family: 'Lora', serif;
   color: rgb(0, 0, 0);
   font-weight: bold;
}
#formtextarea{
    height: 7rem;
}

.pageheading2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  font-size: 3rem;
  font-family: 'Fira Sans', sans-serif;

}
.contactFormSubmit{
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 4px;
    background-color: transparent;
}
#contactFormSubmitbutton{
        padding: 1rem;
        padding-left: 1.9rem;
        padding-right: 1.9rem;
        font-family: 'Fira Sans', sans-serif;
        margin: 0.9rem;
        border-radius: 5px;
        
    }
.divformelement label{
    font-family: 'Lora', serif;
    background-color: transparent;
}

/* About */

.aboutcontainer{
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgba(252, 252, 255, 0.098);
    margin: 2rem;  
    border-radius: 15px;  
}
 
    .aboutcontainitem img{

    width: 20rem;
    height: 20rem;
    border: 4px double black;
}
.aboutcontainitem{
    background-color: transparent;
    padding: 3rem;

}
.rightabout h4{
    padding: 3rem;
    padding-top: 1.5rem;
    font-size: 2.4rem;
    padding-bottom: 0.08rem ;
    font-family: 'Fira Sans', sans-serif;
    background-color: transparent;
}
.rightabout h3{
    background-color: transparent;
    font-family: 'Lora', serif;
    padding: 2.5rem;
    font-size: 1.7rem;
    padding-bottom: 0.08rem ;
}
.aboutdescript {
    background-color: rgba(252, 252, 255, 0.098);
    padding: 1.5rem;
    margin: 2rem;
}
.aboutdescript h3{
    font-family: 'Lora', serif;
    background-color: transparent;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
    text-decoration: underline;
}
.aboutdescript p{
    font-family: 'Fira Sans', sans-serif;

    font-size: 1rem;
    background-color: transparent;
}
.buttonresume{
    margin: 2rem;
    padding: 2rem;
    font-size: 1.5rem;
    border-radius: 2rem;
}
.buttonresume:hover{
  background-color: rgb(16, 16, 130);
}

/* Project */

.projectcontainer{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgba(252, 252, 255, 0.098);
    margin: 2rem;  
    border-radius: 15px;  
}
 
    .projectcontainitem img{

    width: 15rem;
    height: 15rem;
    border: 4px double black;
}
.projectcontainitem{
    background-color: transparent;
    padding: 3rem;

}
.rightproject h4{
    padding: 1rem;
    padding-left: 0.2rem;
    padding-top: 0.5rem;
    font-size: 1.4rem;
    padding-bottom: 0.08rem ;
    font-family: 'Fira Sans', sans-serif;
    background-color: transparent;
    color: rgb(232, 238, 200);
    
}
.rightproject h3 a{
    background-color: transparent;
}
.rightproject h3{
    font-family: 'Fira Sans', sans-serif;
    background-color: transparent;
    padding: 0.5rem;
    font-size: 1rem;
    padding-bottom: 0.08rem ;
    color: rgb(209, 238, 200);
}
.rightproject1 h3{
    font-family: 'Fira Sans', sans-serif;
    background-color: transparent;
    padding: 0.5rem;
    font-size: 1rem;
    padding-bottom: 0.08rem ;
}

.rightproject1 h4{
    padding: 1rem;
    padding-left: 0.2rem;
    padding-top: 0.5rem;
    font-size: 1.4rem;
    padding-bottom: 0.08rem ;
    font-family: 'Fira Sans', sans-serif;
    background-color: transparent;
    
}
