@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@0;1&family=Joti+One&family=Lora:ital@0;1&display=swap');
/* font-family: 'Fira Sans', sans-serif;
font-family: 'Joti One', cursive;
font-family: 'Lora', serif; */
*{
    font-size: 16px;
}

.logodesign{
    font-size: 2rem;
    font-weight: bolder;
    font-family: 'Joti One', cursive;
    width: fit-content;
    display: inline;
    background-color: transparent;
    padding: 0px;
    margin: 0px;

}

.navlist {
    font-family: 'Joti One', cursive;
    text-decoration: none;
    display: flex;
    justify-content: right;
    background-color: transparent;
}
.navlist ul{
    background-color: transparent;
    margin-right: 3rem ;
    
}
.navlist ul a{
    text-decoration: none;
    background-color: transparent;
}


.navlist ul a:hover{
font-size: 1.2rem;
color: rgb(28, 179, 224);
font-family: 'Lora', serif; 
font-weight: bold;
}
.container{
    margin: 1rem;
    padding: 1rem;
    background-color: transparent;
}

#headruler{
 
    border: 1px solid rgb(58, 58, 233);
 } 
/* footer css */

#footerruler{
    border: 1px solid rgb(58, 58, 233);

}

.container2{
    margin: 1rem;
    padding: 1rem;
    background-color: #adadad0a;
    height: 13rem;
}
.container2 *{
    background-color: transparent;
}

.footerlogodesign{
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: 'Joti One', cursive;
    width: fit-content;
    display: inline;
    background-color: transparent;
    padding: 0px;
    margin: 0px;

}
.container2 ul{
    margin: 0.9rem;
    list-style-type: none;
}
.container2 ul li{
    margin: 0.4rem;
    font-family: 'Lora', serif; 
}
.container2 ul li:hover{
    font-size: 1.2rem;
    font-family: 'Lora', serif; 
}
.copyrightstatement{
    display: flex;
    justify-content: center;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
}
.footerdata{
    margin: 0.8rem;
}
.footerdata input{
    padding: 0.5rem;
    margin: 0.9rem;
    width: 50%;
    height: 1.9rem;
    color: rgb(173, 11, 92);
    background-color: #f2f2ff;
    border-radius: 5px;
}
.footerdata button{
    padding: 0.8rem;
    margin: 0.9rem;
    border-radius: 5px;
    
}