@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@0;1&family=Joti+One&family=Lora:ital@0;1&display=swap');

*{
    background-color: rgb(2, 4, 61);
    color: aliceblue;
    font-size : 18px;
    margin: 0;
    padding: 0;
  
}




@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }